# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true


[*.py]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[tox.ini]
indent_style = tab
indent_size = 4
